<h1>Yotpo Reviews Widget</h1>

<yotpo-reviews-widget
  [productId]="product.id"
  [name]="product.title"
  url="http://www.example.com"
  imageUrl="http://placekitten.com/200/300"
  description="A great product"
></yotpo-reviews-widget>

<yotpo-reviews-widget
  [productId]="product.id"
  [name]="product.title"
  url="http://www.example.com"
  imageUrl="http://placekitten.com/200/300"
  description="A great product"
></yotpo-reviews-widget>

<h1>Yotpo Star Rating</h1>

<yotpo-star-rating productId="1"></yotpo-star-rating>
<yotpo-star-rating productId="2"></yotpo-star-rating>
<yotpo-star-rating productId="3"></yotpo-star-rating>
<yotpo-star-rating productId="4"></yotpo-star-rating>
